.wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self:center;
  padding: 80px 110px;
  background: url("../public/images/bg-top.svg") top right,url("../public/images/bg-bottom.svg") bottom left,hsl(240, 78%, 98%);
  background-repeat: no-repeat;
}

.info{
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.track{
  color:hsl(234, 14%, 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  font-size: 1.2rem;
}

.toggle{
  margin: 0 25px;
}

.input{
  display: none;
}

.label{
  display: flex;
  align-items: center;
  position: relative;                
  width:65px;
  height: 26px;
  border-radius:30px;
  color: transparent;
  user-select: none;  
  background:linear-gradient( to right, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
}

.label::after {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 3px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color:white;
  -webkit-transition: left 0.25s linear;
  transition: left 0.25s linear;
}

.input:checked + .label{
  background: hsl(236, 64%, 87%);
}

.input:checked + .label::after {
  left:40px;     
}                      

.container{
  width: 100%;
  max-width: 1440px;
  display: flex;
}

.container p{
  padding:20px 0;
  text-align: center;
}

.money{
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: hsl(232, 13%, 33%);
}

.price{
  font-size:clamp(2rem,4vw,5rem);
  margin: 15px 0;
  color: hsl(232, 13%, 33%);
  margin-left: 10px;
  word-wrap: anywhere;
}


.line{
  border-top:1px solid hsl(234, 14%, 74%);
  width: 100%;
}

.color{
  color: hsl(240, 78%, 98%);
}


.attribution { font-size: 11px; text-align: center;margin-top: 50px; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (max-width:920px){

  .wrap{
    padding: 80px 25px;
    background: url("../public/images/bg-top.svg") 250% 0,hsl(240, 78%, 98%);
    background-repeat: no-repeat;
    
  }
  
  .container{
    flex-direction: column;
    align-items: center;
  }

}





